<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="afinal.edu.pe.trabajoandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.main.LoginActivity" />
        <activity android:name=".activities.clients.ClientsActivity" />
        <activity android:name=".activities.clients.ClientEditActivity" />
        <activity android:name=".activities.clients.ClientRegisterActivity" />
        <activity android:name=".activities.clients.ClientDetailActivity" />
        <activity android:name=".activities.vehicle.VehiclesActivity" />
        <activity android:name=".activities.vehicle.VehicleRegisterActivity" />
        <activity android:name=".activities.vehicle.VehicleEditActivity" />
        <activity android:name=".activities.vehicle.VehicleDetailActivity" />
        <activity android:name=".activities.services.ServicesActivity" />
        <activity android:name=".activities.serviceorder.ServiceOrdersActivity" />
        <activity android:name=".activities.serviceorder.ServiceOrderRegisterActivity" />
        <activity android:name=".activities.serviceorder.ServiceOrderEditActivity" />
        <activity android:name=".activities.serviceorder.ServiceOrderDetailActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>