<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="afinal.edu.pe.trabajoandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Main.LoginActivity" />
        <activity android:name=".Activities.Clients.ClientsActivity" />
        <activity android:name=".Activities.Clients.ClientRegisterActivity" />
        <activity android:name=".Activities.Clients.ClientEditActivity" />
        <activity android:name=".Activities.Clients.ClientDetailActivity" />
        <activity android:name=".Activities.Vehicle.VehiclesActivity" />
        <activity android:name=".Activities.Vehicle.VehicleRegisterActivity" />
        <activity android:name=".Activities.Vehicle.VehicleEditActivity" />
        <activity android:name=".Activities.Vehicle.VehicleDetailActivity" />
        <activity android:name=".Activities.Services.ServicesActivity" />
        <activity android:name=".Activities.ServiceOrder.ServiceOrdersActivity" />
        <activity android:name=".Activities.ServiceOrder.ServiceOrderRegisterActivity" />
        <activity android:name=".Activities.ServiceOrder.ServiceOrderEditActivity" />
        <activity android:name=".Activities.ServiceOrder.ServiceOrderDetailActivity"></activity>
    </application>

</manifest>